
/* Guarda colores, fuentes y tamaños globales */

// Colores
$primary-color: #0d2d1f;
$primary-hover: #134d33;
$text-color: #222;
$bg-light: #f9f9f9;
$border-color: #ccc;

// Fuentes
$font-main: 'Poppins', sans-serif;

// Bordes y sombras
$border-radius: 10px;
$box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
